<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl -->
<target name="GEMOCStudio Target platform" sequenceNumber="1644506536">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.acceleo.feature.group" version="3.7.11.202102190929"/>
      <unit id="org.eclipse.e4.rcp.feature.group" version="4.22.0.v20211123-0851"/>
      <unit id="org.eclipse.ecf.filetransfer.feature.feature.group" version="3.14.1800.v20210618-0642"/>
      <unit id="org.eclipse.ecf.filetransfer.httpclient45.feature.feature.group" version="1.1.0.v20211008-2034"/>
      <unit id="org.eclipse.ecf.filetransfer.ssl.feature.feature.group" version="1.1.401.v20210409-2301"/>
      <unit id="org.eclipse.egit.feature.group" version="6.0.0.202111291000-r"/>
      <unit id="org.eclipse.emf.feature.group" version="2.28.0.v20211110-0654"/>
      <unit id="org.eclipse.emf.compare.feature.group" version="3.3.17.202111290942"/>
      <unit id="org.eclipse.emf.compare.rcp" version="2.5.2.202111290942"/>
      <unit id="org.eclipse.emf.compare.ide.ui.feature.group" version="3.3.17.202111290942"/>
      <unit id="org.eclipse.emf.ecoretools.sdk.feature.group" version="3.3.4.202111191450"/>
      <unit id="org.eclipse.emf.mwe2.runtime.sdk.feature.group" version="2.12.1.v20210218-2134"/>
      <unit id="org.eclipse.emf.mwe2.launcher.feature.group" version="2.12.1.v20210218-2134"/>
      <unit id="org.eclipse.emf.mwe2.language.sdk.feature.group" version="2.12.1.v20210218-2134"/>
      <unit id="org.eclipse.emf.query.sdk.feature.group" version="1.12.0.201805030653"/>
      <unit id="org.eclipse.epp.mpc.feature.group" version="1.9.2.v20210826-0851"/>
      <unit id="org.eclipse.equinox.p2.sdk.feature.group" version="3.11.1400.v20211104-1616"/>
      <unit id="org.eclipse.equinox.executable.feature.group" version="3.8.1400.v20211117-0650"/>
      <unit id="org.eclipse.m2e.feature.feature.group" version="1.19.0.20211116-0804"/>
      <unit id="org.eclipse.m2e.logback.feature.feature.group" version="1.17.2.20211002-1029"/>
      <unit id="org.eclipse.m2m.qvt.oml.feature.group" version="3.10.5.v20211130-1509"/>
      <unit id="org.eclipse.m2m.qvt.oml.editor.feature.group" version="3.10.5.v20211130-1509"/>
      <unit id="org.eclipse.m2m.qvt.oml.runtime.feature.group" version="3.10.5.v20211130-1509"/>
      <unit id="org.eclipse.m2m.qvt.oml.sdk.feature.group" version="3.10.5.v20211130-1509"/>
      <unit id="org.eclipse.ocl.examples.feature.group" version="6.17.0.v20211130-1448"/>
      <unit id="org.eclipse.rcp.feature.group" version="4.22.0.v20211124-1800"/>
      <unit id="org.eclipse.sdk.feature.group" version="4.22.0.v20211124-1800"/>
      <unit id="org.eclipse.swtbot.eclipse.feature.group" version="3.1.0.202106041005"/>
      <unit id="org.eclipse.swtbot.ide.feature.group" version="3.1.0.202106041005"/>
      <unit id="org.eclipse.swtbot.feature.group" version="3.1.0.202106041005"/>
      <unit id="org.eclipse.wst.xml_core.feature.feature.group" version="3.24.0.v202110010323"/>
      <unit id="org.eclipse.wst.xml_ui.feature.feature.group" version="3.24.0.v202111190506"/>
      <unit id="org.eclipse.xtext.sdk.feature.group" version="2.25.0.v20210301-1429"/>
      <unit id="org.eclipse.xtend.sdk.feature.group" version="2.25.0.v20210301-1429"/>
      <unit id="ch.qos.logback.classic" version="1.2.3.v20200428-2012"/>
      <unit id="org.apache.commons.lang3" version="3.1.0.v201403281430"/>
      <unit id="org.apache.xalan" version="2.7.2.v20201124-1837"/>
      <repository id="eclipse" location="https://download.eclipse.org/releases/2021-12"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.gemoc.gemoc_studio.branding.feature.feature.group" version="3.4.0.202201101137"/>
      <unit id="org.eclipse.gemoc.gemoc_studio.additions.feature.feature.group" version="3.4.0.202201101137"/>
      <repository id="gemoc_dsl_bootstrap" location="http://download.eclipse.org/gemoc/updates/releases/3.4.0"/>
    </location>
  </locations>
  <targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-11"/>
</target>
